```bob
      ⭐                  
.   . . .   .   --+  .-.  + + .--.
 \ /  |  \ / _   /  (   ) |\| |--'
  +   '   + (_) +--  '-'  + + '---
```

Hello, {{ name }}!

# heading
* bullet
* bullet

<img src="https://vvn.space/~vivlim/construction.gif" />


 .-.     .-.     .-.     .-.     .-.     .-.     .-.     
/   \   /   \   /   \   /   \   /   \   /   \   /   \   /
     '-'     '-'     '-'     '-'     '-'     '-'     '-' 
```

```bob
 ._.
/. .\ .-
| ^ | |
'---'-'
```



hey viv! here are some [bob examples](https://ivanceras.github.io/svgbob-editor/)!
