<form action="{{form_action}}" method="post">
      <p>
            Title: <input type="text" name="title"
            {% match mode %}
                  {% when crate::pages::post_editor::Mode::Reply with (reply_context) %}
                        value="Re: {{ reply_context.first_post.contents.title }}"
                  {% when crate::pages::post_editor::Mode::EditPost with (post) %}
                        value="{{ post.contents.title }}"
                  {% when crate::pages::post_editor::Mode::NewThread with (board) %}
            {% endmatch %}
            />
      </p>
      <p>
{% match mode %}
{% when crate::pages::post_editor::Mode::EditPost with (post) %}
            <textarea name="body">{{ post.contents.body }}</textarea>
{% when crate::pages::post_editor::Mode::Reply with (reply_context) %}
            <textarea name="body"></textarea>
{% when crate::pages::post_editor::Mode::NewThread with (board) %}
            <textarea name="body"></textarea>
{% endmatch %}
      </p>
            <input type="hidden"
            {% match mode %}
                  {% when crate::pages::post_editor::Mode::Reply with (reply_context) %}
                        name="thread_id" value="{{ reply_context.thread.id }}"
                  {% when crate::pages::post_editor::Mode::EditPost with (post) %}
                        name="post_id" value="{{ post.post.id }}"
                  {% when crate::pages::post_editor::Mode::NewThread with (board) %}
                        name="board_id" value="{{ board.id }}"
            {% endmatch %}
            />
      <p>
            <input type="submit" />
      </p>
</form>